* {
  font-family: sans-serif;
}
h1 {
  display: inline-block;
}

h2 {
  font-size: 95%;
}

a {
  font-size: 50%;
}
a.nav-link{
  font-size: 80%;
  color: black;
  text-decoration: none;
  padding: 5px;
  cursor:pointer;
}
a.nav-link:visited{
  color: black;
}
a.nav-link:hover{
  background-color: #aaf;
  border-radius: 4px;
  /*font-weight: bold;*/
}
form{
  display: inline-block;
}
input[type=file]{
  /*padding:5px;*/
  display: inline-block;

  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
}
input[type=file]:hover{
  background-color: #aaf;
}
.signout{
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
}
.auth-message{
  color: red;
  font-style: italic;
  font-size:80%;
}
img {
  width: 300px
}

img.timeline-icon{
  width: 30px;
}
img.vote-selected
{
    box-shadow: 0px 0px 5px #aaf;
    background-color: #aaf;
}


div.timeline-votebox {
  display: inline-block;
}
div.timeline-votebox.right{
  float: right;
}
img.timeline-icon.right{
  width: 30px;
  /*margin-right: -10px;*/
  /*float: right;*/
}
span.timeline-count {
  font-size: 80%;
  /*margin-left: -10%;*/
}
span.timeline-count {
  /*margin-right: -20%;*/
  /*display: inline-block;*/
}

.timeline-image{
  border-radius: 20px;
}

.timeline-entry{
  display: inline-block;
  padding: 13px;
}